.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 10px 20px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 150px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.login-btn {
  background-color: #e91e63;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #d81b60;
}
.App-Body{
  background-color: #2F2A36;
}
.Body-Title-Section{
  color: #e91e63;
  font-size: 40px;
}
