.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F2A36;
  padding: 0 150px 0 0;
}

.logo-section {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 150px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}
.nav-links :hover {
  text-decoration: none;
  color: #E66F7B;
}

.header-body {
  background-color: #2F2A36;
  /* padding-left: 50px; */
}

.App-Body{
  background-color: #2F2A36;
}

.signup-container {
  background-color: #2F2A36;
  color: white;
  /* padding: top right bottom left; */
  padding: 0 0 30px 30px;

}

.featured-courses-tiles {
  padding: 30px 100px 0 20px;
}

.rev-image {
  margin-bottom: 10px;
  width: 200px; 
  height: 200px;
  overflow: hidden;
  object-fit: cover; /* Add this line */
}

.login-container {
  background-color: #2F2A36;
  color: white;
  /* padding: top right bottom left; */
  padding: 0 0 30px 30px;
  width: 75%;
}

.email-box {
  padding: 0 0 0 23em;
  width: 75%;

  .title-email-box {
    text-align: center;
  }
}