.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2F2A36;
  padding: 0 150px 0 0;
}

.logo-section {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 150px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding-left: 800px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}
.nav-links :hover {
  text-decoration: none;
  color: #E66F7B;
}

.App-Body{
  background-color: #2F2A36;
}
